.menu-view {
    -fx-background-color: black;
}

.menu-container {
    -fx-alignment: center;
    -fx-padding: 50px;
    -fx-spacing: 30px;
}

.title {
    -fx-font-family: "Arial";
    -fx-font-size: 80px;
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
}

.high-score-label {
    -fx-font-family: "Arial";
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
}

.start-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-padding: 20px 50px;
    -fx-background-radius: 15px;
}

.start-button:hover {
    -fx-background-color: yellow;
}

.instructions {
    -fx-font-family: "Arial";
    -fx-font-size: 22px;
    -fx-text-fill: white;
}

.goal {
    -fx-font-family: "Arial";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: orange;
}

.game-view {
    -fx-background-color: black;
    -fx-alignment: center;
    -fx-spacing: 5px;
}

.top-section {
    -fx-alignment: center;
    -fx-background-color: black;
}

.stats-box {
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-padding: 10px;
}

.stat-label {
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
}

.board {
    -fx-alignment: center;
    -fx-hgap: 0px;
    -fx-vgap: 0px;
    -fx-background-color: black;
    -fx-padding: 10px;
}

.cell {
    -fx-background-color: black;
    -fx-alignment: center;
}

.wall {
    -fx-fill: blue;
}

.dot {
    -fx-fill: white;
}

.bottom-section {
    -fx-alignment: center;
    -fx-spacing: 8px;
    -fx-background-color: black;
    -fx-padding: 10px;
}

.game-over-label {
    -fx-font-family: "Arial";
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.level-complete-label {
    -fx-font-family: "Arial";
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: green;
}

.final-score-label {
    -fx-font-family: "Arial";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.next-level-button {
    -fx-background-color: green;
        -fx-text-fill: white;
        -fx-font-family: "Arial";
        -fx-font-size: 24px;
        -fx-font-weight: bold;
        -fx-padding: 15px 40px;
        -fx-background-radius: 10px;
}

.new-game-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 15px 40px;
    -fx-background-radius: 10px;
}